body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

header{
background:#000;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.banner{
text-align:center;
padding:60px;
background:linear-gradient(45deg,#ff0055,#7b00ff);
}

.produtos{
display:flex;
flex-wrap:wrap;
justify-content:center;
padding:20px;
}

.produto{
background:#1b1b1b;
margin:15px;
padding:20px;
border-radius:10px;
text-align:center;
width:250px;
box-shadow:0 0 15px rgba(255,0,80,0.4);
transition:0.3s;
}

.produto:hover{
transform:scale(1.05);
}

button{
background:#ff0055;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;
border-radius:5px;
}

footer{
background:#000;
text-align:center;
padding:20px;
margin-top:20px;
}
.topo{
background:#000;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
position:sticky;
top:0;
z-index:1000;
}

.topo a:hover{
color:#ff0055;
}

.produto img{
width:100%;
border-radius:10px;
}
/* ========================= */
/* MOBILE RESPONSIVO */
/* ========================= */

@media (max-width: 768px){

.topo{
flex-direction:column;
text-align:center;
}

nav{
margin-top:10px;
}

nav a{
display:block;
margin:5px 0;
}

.banner{
padding:30px 10px;
}

.produtos{
flex-direction:column;
align-items:center;
}

.produto{
width:90%;
margin:10px 0;
}

.produto img{
width:100%;
height:auto;
}

h1{
font-size:22px;
}

button{
width:100%;
margin-top:10px;
}

}
/* CENTRALIZAR TITULOS */
h1, h2{
text-align:center;
margin-top:20px;
}

/* AREA DOS PRODUTOS CENTRALIZADA */
#produtos{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:20px;
padding:20px;
}